<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Listar Personas</title>
    </h:head>
    <h:body>

        <p:ajaxStatus style="width:16px;height:16px;" id="ajaxStatusPanel">
            <f:facet name="start">
                <h:graphicImage library="images" name="ajaxloading.gif" />
            </f:facet>
            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <h:form prependId="false" id="form">

            <p:growl id="messages" showDetail="true" />
            <p:messages />

            <p:dataTable 
                id="personas" 
                var="persona" 
                value="#{personaBean.personas}" 
                editable="true" 
                rowKey="#{persona.idPersona}"
                selection="#{personaBean.personaSeleccionada}" 
                selectionMode="single">

                <f:facet name="header">  
                    Lista de Personas  
                </f:facet>

                <p:column headerText="Nombre">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{persona.nombre}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{persona.nombre}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Apellido Paterno">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{persona.apellidoPaterno}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{persona.apellidoPaterno}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="eMail">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{persona.email}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{persona.email}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <f:facet name="footer">
                    <p:commandButton value="Regresar" action="index" />
                    <p:spacer height="5px;"/>
                    <p:commandButton value="Agregar" actionListener="#{personaBean.reiniciarPersonaSeleccionada}" oncomplete="PF('personaDialogo').show();" update="personas">
                        <p:ajax event="dialogReturn" update="personas"/>
                    </p:commandButton>
                </f:facet>

                <p:column headerText="Opciones" style="width:50px">
                    <p:rowEditor />
                </p:column>

                <p:ajax event="rowEdit" listener="#{personaBean.editListener}">
                </p:ajax>
            </p:dataTable>



            <p:contextMenu for="personas">
                <p:menuitem value="Eliminar" update="personas" icon="ui-icon-close" actionListener="#{personaBean.eliminarPersona}" ajax="false"/>
            </p:contextMenu>
        </h:form>

        <h:form id="dialogoForm" prependId="false">
            <p:dialog header="Agregar Persona" widgetVar="personaDialogo" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="personaDetalle" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">
                        <h:outputText value="Nombre" />
                        <h:inputText value="#{personaBean.personaSeleccionada.nombre}" />

                        <h:outputText value="Apellido Paterno:" />
                        <h:inputText value="#{personaBean.personaSeleccionada.apellidoPaterno}" />

                        <h:outputText value="Apellido Materno" />
                        <h:inputText value="#{personaBean.personaSeleccionada.apellidoMaterno}" />

                        <h:outputText value="Email" />
                        <h:inputText value="#{personaBean.personaSeleccionada.email}" />

                        <f:facet name="footer">
                            <h:commandButton value="Agregar" actionListener="#{personaBean.agregarPersona}" />
                        </f:facet>

                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </h:body>

</html>
